[Unit]
Description=mdns-filoxy mDNS filter proxy (%i)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=%i
PrivateTmp=yes
NoNewPrivileges=yes
ExecStart=/home/%i/.local/bin/mdns-filoxy -s iot0 -d eth0 -m _googlecast._tcp.local. --spotify-connect
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
